.rows__title {
  position: relative;
  margin-top: -100px;
}
.titles__row .row {
  margin-left: 20px;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 138px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.06);
  opacity: 1;
}
.categories__title {
  color: #fff;
  font-size: 19px;
  margin-bottom: -10px;
  margin-left: 10px;
}
